@model muzikaletleristok.Models.Satislar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Satislar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SatisTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SatisTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miktar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miktar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToplamFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToplamFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kullanici)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kullanici.KullaniciId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MuzikAleti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MuzikAleti.MuzikAletiId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SatisId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
