@model IEnumerable<muzikaletleristok.Models.Satislar>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-striped" id="tbllist">
    <thead class="bg-dark text-white">
        <tr>
            <th>
               Satış Tarihi
            </th>
            <th>
                Miktarı
            </th>
            <th>
               Toplam Fiyatı
            </th>
            <th>
                Kullanıcı Adı
            </th>
            <th>
                Müzik Aleti Adı
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SatisTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miktar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToplamFiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kullanici.KullaniciAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuzikAleti.MuzikAletiAdi)
            </td>
            <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.SatisId">Edit</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.SatisId">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.SatisId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#tbllist').DataTable({

        });
    });
</script>